* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0rem;
  margin: 0rem;
}

/* Product-List */
#products-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 22rem;
  margin: 0.62rem 0rem;
}

#product-list-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75rem;
  height: 22rem;
  /* border: 1px solid black; */
}

/* left-aside-para */
#left-aside-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9fffb;
  position: relative;
  width: 20rem;
  height: 22rem;
  z-index: -1;
  /* border: 1px solid black; */
}

#left-aside-para::before {
  content: " ";
  background: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/b84f1c22cce1a6a3.jpg?q=90")
    center center/cover;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 33%;
  opacity: 0.7;
  z-index: -1;
}

.left-aside-para-text {
  text-align: center;
  font-size: 1.87rem;
  width: min-content;
  height: fit-content;
}

/* Right-aside-Product-List */
#right-aside-product_List {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  width: 75rem;
  /* border: 1px solid black; */
  height: 22rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

#right-aside-product_List::-webkit-scrollbar {
  width: 0rem;
  height: 0rem;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.75rem;
  height: 20rem;
  cursor: pointer;
  text-decoration: none;
  /* border: 1px solid black; */
}

.product a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 15.12rem;
  height: 100%;
}

.product-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15.62rem;
  /* border: 1px solid black; */
  overflow: hidden;
}

.product-img-div:hover .product-img {
  max-width: 11.5rem;
  max-height: 9.5rem;
  z-index: 1;
}

.product-img {
  max-width: 11rem;
  max-height: 9rem;
}

.product-caption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  align-items: center;
  width: fit-content;
  height: 6.25rem;
  font-size: 0.9rem;
}

.product-caption span {
  color: black;
}

.product-price {
  color: green;
}

.product-name {
  color: grey;
  text-align: center;
}

/* Media Query */
@media (max-width: 1200px) {
  #products-list {
    height: 21rem;
  }

  #product-list-box {
    width: 62rem;
    height: 21rem;
  }

  #left-aside-para {
    width: 19rem;
    height: 21rem;
  }

  .left-aside-para-text {
    font-size: 1.5rem;
  }

  #right-aside-product_List {
    width: 62rem;
    height: 21rem;
  }

  .product {
    width: 14.75rem;
    height: 19rem;
  }

  .product a {
    width: 14.75rem;
  }

  .product-img-div {
    width: 14.75rem;
    height: 14.62rem;
  }

  .product-caption {
    font-size: 0.85rem;
    width: 12.25rem;
    height: 5.25rem;
  }
}

@media (max-width: 992px) {
  #products-list {
    height: 19rem;
  }

  #product-list-box {
    width: 48rem;
    height: 19rem;
  }

  #left-aside-para {
    width: 18rem;
    height: 19rem;
  }

  .left-aside-para-text {
    font-size: 1.3rem;
  }

  #right-aside-product_List {
    width: 48rem;
    height: 19rem;
  }

  .product {
    width: 13.75rem;
    height: 18rem;
  }

  .product a {
    width: 13.75rem;
  }

  .product-img-div {
    width: 13.75rem;
    height: 13.62rem;
  }

  .product-img {
    max-width: 10rem;
    max-height: 8rem;
  }

  .product-img-div:hover .product-img {
    max-width: 10.5rem;
    max-height: 8.5rem;
  }

  .product-caption {
    font-size: 0.8rem;
    width: 11.25rem;
    height: 4.25rem;
  }
}

@media (max-width: 768px) {
  #products-list {
    height: 15rem;
    margin: 0.3rem 0rem;
  }

  #product-list-box {
    width: 37rem;
    height: 15rem;
  }

  #left-aside-para {
    width: 15rem;
    height: 15rem;
  }

  .left-aside-para-text {
    font-size: 1.1rem;
  }

  #right-aside-product_List {
    width: 37rem;
    height: 15rem;
  }

  .product {
    width: 10.75rem;
    height: 14rem;
  }

  .product a {
    width: 10.75rem;
  }

  .product-img-div {
    width: 10.75rem;
    height: 10.62rem;
  }

  .product-img {
    max-width: 9rem;
    max-height: 7rem;
  }

  .product-img-div:hover .product-img {
    max-width: 9.5rem;
    max-height: 7.5rem;
  }

  .product-caption {
    font-size: 0.72rem;
    width: 8.25rem;
    height: 3.25rem;
  }
}

@media (max-width: 600px) {
  #products-list {
    height: 12rem;
    margin: 0.3rem 0rem;
  }

  #product-list-box {
    width: 24rem;
    height: 12rem;
  }

  #left-aside-para {
    width: 12rem;
    height: 12rem;
  }

  .left-aside-para-text {
    font-size: 0.9rem;
  }

  #right-aside-product_List {
    width: 24rem;
    height: 12rem;
  }

  .product {
    width: 9.75rem;
    height: 11rem;
  }

  .product a {
    width: 9.75rem;
  }

  .product-img-div {
    width: 9.75rem;
    height: 7.62rem;
  }

  .product-img {
    max-width: 7rem;
    max-height: 5rem;
  }

  .product-img-div:hover .product-img {
    max-width: 7.5rem;
    max-height: 5.5rem;
  }

  .product-caption {
    font-size: 0.64rem;
    width: 6.25rem;
    height: 3.3rem;
    text-align: center;
  }
}
