* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0rem;
  margin: 0rem;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.12rem;
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  width: 100%;
  height: fit-content;
  /* border: 1px solid black; */
  z-index: 2;
}

#login::before {
  content: "";
  position: fixed;
  top: -9rem;
  background-color: black;
  opacity: 0.8;
  width: 100rem;
  height: 100rem;
}

#loginBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 46.87rem;
  height: 36.12rem;
  /* border: 1px solid black; */
}

/* Login-Page */
#login-page-div {
  display: flex;
  width: 42.06rem;
  height: 33rem;
  /* border: 1px solid black; */
}

/* Left-login-div */
.left-login-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2874f0;
  position: relative;
  width: 16.87rem;
  height: 33rem;
  /* border: 1px solid black; */
}

/* Left-login-top-div */
.left-login-top-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
  font-size: 1.06rem;
  position: absolute;
  top: 1.56rem;
  left: 2.25rem;
  width: 10rem;
  height: 8.12rem;
  /* border: 1px solid black; */
}

/* Left-login-bottom-div */
.left-login-bottom-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0rem;
  width: 16.87rem;
  height: 14.68rem;
  /* border: 1px solid black; */
}

.left-login-bottom-div::before {
  content: " ";
  position: absolute;
  bottom: 3.75rem;
  background: url("https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/login_img_c4a81e.png")
    center center/cover;
  width: 14.37rem;
  height: 8.75rem;
}

/* Right-login-div */
.right-login-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  width: 25.31rem;
  height: 33rem;
  /* border: 1px solid black; */
}

/* Right-login-top-div */
.right-login-top-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.81rem;
  position: absolute;
  top: 2.18rem;
  width: 21.87rem;
  height: 11.87rem;
  /* border: 1px solid black; */
}

#right-login-input-div {
  position: relative;
  width: 21.87rem;
  height: 2.5rem;
  /* border: 1px solid black; */
}

#right-login-input-div p {
  color: #878787;
  position: absolute;
  top: 1.1rem;
  font-size: 1.1rem;
  transition: all 0.2s;
  z-index: 0;
}

.login-info-error {
  color: #ff6161;
  position: absolute;
  top: 2.6rem;
  font-size: 0.75rem;
  width: fit-content;
  height: 1rem;
}

/* Input */
#right-login-input {
  background-color: transparent;
  position: absolute;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.06rem solid #e0e0e0;
  outline: none;
  font-size: 0.95rem;
  text-transform: lowercase;
  width: 21.25rem;
  height: 2.5rem;
}

/* Para */
.right-login-para {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  width: 21.25rem;
  height: 2.5rem;
}

.right-login-para span {
  color: #878787;
}

/* Button */
.right-login-requestOtp-btn {
  color: white;
  background: #fb641b;
  border: none;
  border-radius: 0.12rem 0.12rem 0.12rem 0.12rem;
  font-size: 0.93rem;
  width: 21.25rem;
  height: 3rem;
  cursor: pointer;
}

/* Right-login-bottom-div */
.right-login-bottom-div {
  text-align: center;
  font-size: 0.93rem;
  position: absolute;
  bottom: 1.87rem;
  width: 15.62rem;
  height: 1.25rem;
  /* border: 1px solid black; */
}

/* cross-btn-div */
#cross-btn-div {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  width: 2.18rem;
  height: 33rem;
}

.cross-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #878787;
  background: transparent;
  border: none;
  font-size: 1.7rem;
  line-height: 0.4rem;
  position: absolute;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* Media Query =============================================================================================== */
@media (max-width: 768px) {
  #login {
    top: 9rem;
    left: 0rem;
  }

  #loginBox {
    align-items: center;
    width: 30rem;
    height: fit-content;
  }

  #login-page-div {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: fit-content;
  }

  .left-login-div {
    border-radius: 0.12rem 0.12rem 0rem 0rem;
    width: 30rem;
    height: 18rem;
  }

  .left-login-top-div {
    align-items: center;
    text-align: center;
    top: 1rem;
    left: 5rem;
    width: 20rem;
    height: 8rem;
  }

  .left-login-bottom-div {
    justify-content: center;
    align-items: center;
    bottom: 0rem;
    width: 14.87rem;
    height: 10rem;
  }

  .left-login-bottom-div::before {
    bottom: 0.75rem;
    width: 12.37rem;
    height: 7.75rem;
  }

  .right-login-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0rem 0rem 0.12rem 0.12rem;
    width: 30rem;
    height: 19rem;
  }

  .right-login-top-div {
    width: 30rem;
    height: 14rem;
  }

  #right-login-input-div {
    width: 27rem;
    height: 2.5rem;
  }

  #right-login-input-div p {
    top: 1.1rem;
  }

  #right-login-input {
    width: 27rem;
    height: 2.5rem;
  }

  .right-login-para {
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: 2.5rem;
  }

  .right-login-requestOtp-btn {
    width: 25rem;
    height: 3rem;
  }

  #cross-btn-div {
    justify-content: flex-end;
    align-items: center;
    width: 2rem;
    height: 2rem;
  }

  .cross-btn {
    justify-content: center;
    background: transparent;
    bottom: 19.3rem;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 600px) {
  #login {
    align-items: flex-start;
  }

  #loginBox {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 22.5rem;
    height: 34rem;
  }

  #login-page-div {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 22.5rem;
    height: 34rem;
  }

  .left-login-div {
    width: 22.5rem;
    height: 17rem;
  }

  .left-login-top-div {
    align-items: center;
    text-align: center;
    top: 1rem;
    left: 1rem;
    width: 19rem;
    height: 6rem;
  }

  .left-login-bottom-div {
    height: 9rem;
  }

  .left-login-bottom-div::before {
    width: 11rem;
    height: 7rem;
  }

  .right-login-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22.5rem;
    height: 19rem;
  }

  .right-login-top-div {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 2.18rem;
    width: 22.5rem;
  }

  #right-login-input-div {
    width: 19rem;
    height: 2.5rem;
  }

  #right-login-input-div p {
    top: 1.1rem;
    font-size: 1rem;
  }

  #right-login-input {
    width: 19rem;
    height: 2.5rem;
  }

  .right-login-para {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 19rem;
    height: 2.5rem;
  }

  .right-login-requestOtp-btn {
    font-size: 1.2rem;
    width: 19rem;
    height: 3rem;
  }

  #cross-btn-div {
    justify-content: flex-end;
    align-items: center;
    width: 22.5rem;
    height: 2rem;
  }

  .cross-btn {
    background: transparent;
    bottom: 0rem;
    left: 20.5rem;
    width: 2rem;
    height: 2rem;
  }
}
