* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  background: #f1f3f6;
}

#productFilter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  /* border: 1px solid black; */
}

#productFilterBox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 75rem;
  height: fit-content;
  /* border: 1px solid black; */
}

@media (max-width: 1200px) {
  #productFilterBox {
    width: 62rem;
  }
}

@media (max-width: 992px) {
  #productFilterBox {
    flex-direction: column;
    width: 48rem;
  }
}

@media (max-width: 768px) {
  #productFilterBox {
    width: 37rem;
  }
}

@media (max-width: 600px) {
  #productFilterBox {
    width: 24rem;
  }
}
